<%= form_for @company, :html => {:class => "form-group"} do |f| %>
  <div><%= f.label :name, "Company Name" %>
  <%= f.text_field :name, class: "form-control" %></div>
  <br>
  <div><%= f.label :match_frequency, "Match Frequency" %></div>
  <div>every <%= f.text_field :match_frequency %> hours</div>
  <br>
  <%= f.label :name, "Locations" %>
  <%= f.fields_for :locations do |form| %>
    <%= form.text_field :name, class: "form-control" %>
  <% end %>
  <br>
  <p><%= f.submit "Update Company", class: "btn btn-secondary btn-lg btn-block" %></p>
<% end %>
