<%= form_for company do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <%= f.fields_for :locations do |form| %>
    <%= form.label :name, "Location Name" %>
    <%= form.text_field :name %>
  <% end %>
  <p><%= f.submit %></p>
<% end %>